<!DOCTYPE html>
<html lang="en">
  <head>
    ${ partials/head() }
  </head>
  <body>
    $for(include-before)$
    $include-before$
    $endfor$
    ${ partials/masthead() }
    <main tabindex="-1">
      <div class="cover cinch-up:10rem pointer-events:none">
	<h1 class="principal padding-stack:size5 registration multiply" data-echo="$landing.mission_statement$">
	  $landing.mission_statement$
	</h1>
      </div>
      <div class="stack margin cover:half" >
	<p class="h2 font:light">
	  $landing.hook$
	</p>
	<p class="h3 principal">
          <span class="font:light" aria-hidden="true">→</span>
	  <a href="$landing.link.href$">
	    $landing.link.text$
	  </a>
	</p>
      </div>
    </main>
    ${ partials/footer() }
    ${ partials/scripts() }
  </body>
</html>
