<!DOCTYPE html>
<html lang="en">
<head>
  ${ partials/head() }
</head>
<body>
  $for(include-before)$
    $include-before$
  $endfor$
  ${ partials/masthead() }
  <section class="r-grid columns:6 column-s:3 padding">
    <div class="r-cell span:1-4">
      <h1 class="xxxlarge registration" data-echo="$landing.title$">$landing.title$</h1>
    </div>
    <div class="r-cell span:3-5">
      <p class="large">$landing.mission_statement$</p>
    </div>
  </section>

  <section class="r-grid columns:6 column-s3 padding">
    <h2 id="$toc.id$" class="r-cell large span:2+1 cross4 justify-v:center align-r">$toc.title$</h2>
    <nav class="r-cell passthrough">
      $for(toc.projects)$
      <a href="$toc.projects.href$" class="r-cell span:4+3 padding-bottom:s">
	<section>
	  <p class="smallcaps outdent:1">↘&numsp;project</p>
	  <div class="border-left:h3 padding-left:s ">
	    <h3>$toc.projects.title$</h3>
	    <p>$toc.projects.subtitle$</p>
	  </div>
	</section>
      </a>
      $endfor$
    </nav>
</div>

$for(include-after)$
  $include-after$
$endfor$

<script>${ debug.js() }</script>
<script type="text/javascript" src="off-register.js" async defer></script>
</body>
</html>
