<footer class="grid font:small">
  <div class="version border-top:2px padding-top:size-2">
    <p class="font:smallcaps">Last updated</p>
    <p><b>$date$</b></p>
  </div>
  <div class="links border-top:2px padding-top:size-2">
    <p class="font:smallcaps">Links</p>
    <ul class="no-list display">
      <!--
      <li><a href="/stylesheet.html"
	     class="position:relative">
	  <span class="border-bottom:white position:absolute left:-grid-gap"
		aria-hidden="true">
	  ↘</span>
	  Stylesheet
	</a>
      </li>
      -->
      <li class="position:relative">
        <span class="position:absolute left:-grid-gap" aria-hidden="true"
          >↗</span
        >
        <a
          href="https://github.com/xaviervalarino/portfolio"
          class="position:relative"
        >
          Github
        </a>
      </li>
      <li class="position:relative">
        <span class="position:absolute left:-grid-gap" aria-hidden="true"
          >↗</span
        >
        <a
          href="https://www.linkedin.com/in/xaviervalarino/"
          class="position:relative"
        >
          LinkedIn
        </a>
      </li>
    </ul>
  </div>
  <div class="debug-list subgrid border-top:2px padding-top:size-2">
    <div>
      <p class="font:smallcaps">Tools / Debug</p>
      <ul class="no-list">
        <li>
          <button
            type="switch"
            data-i="grid-columns"
            data-v="false"
            class="simple font:uppercase font:bold font:small"
          >
            off
          </button>
          Columns
        </li>
        <li>
          <button
            type="switch"
            data-i="baseline"
            data-v="false"
            class="simple font:uppercase font:bold font:small"
          >
            off
          </button>
          Baseline
        </li>
        <li>
          <button
            type="switch"
            data-i="debug-border"
            data-v="false"
            class="simple font:uppercase font:bold font:small"
          >
            off
          </button>
          Elements
        </li>
      </ul>
    </div>
    <div>
      <p class="font:smallcaps">Properties</p>
      <ul class="no-list">
        <li>
          Font size:
          <span
            class="font:bold"
            id="fontsize-readout"
            data-t="readout"
            data-i="fontSize"
          >
          </span>
        </li>
        <li>
          Width:
          <span
            class="font:bold"
            id="fontsize-readout"
            data-t="readout"
            data-i="bodyWidth"
          >
          </span>
        </li>
      </ul>
    </div>
  </div>
  <div class="legal border-top padding-top:size-2">
    <p class="font:small">&copy; 2022 Xavier Valarino</p>
  </div>
</footer>

<!--
  TODO
  - links are underlined, not text-decoration
-->
