<header class="masthead grid">
  <!-- TODO: finish implementing this -->
  <a href="#" hidden> Skip to content </a>
  <h2 href="/" class="h4 border-top padding-top:size-2">Xavier Valarino</h2>
  <button class="simple no-border" aria-expanded="false">
    <span>
      <svg class="icon hamberder" focusable="false" viewBox="0 0 32 32">
	<path d="M3,3 29,3 M3,16 29,16 M3,29 29,29"></path>
      </svg> 
    </span>
    Menu
  </button>
  <nav class="subgrid" aria-label="main menu">
    <ul >
      <li $if(masthead.home)$aria-current="page"$endif$><a href="/">Home</a></li>
      <li $if(masthead.work)$aria-current="page"$endif$><a href="/work.html">Work</a></li>
      <li $if(masthead.about)$aria-current="page"$endif$><a href="/about.html">About</a></li>
    </ul>
  </nav>
</header>
