<!-- Cover Images -->
<link rel="preload" href="/assets/img/botanic/botanic-guru-cover.png" as="image">
<link rel="preload" href="/assets/img/mixi-modular/mixi-modular-cover.png" as="image">
<link rel="preload" href="/assets/img/gears-dashboard/gears-dashboard-cover.png" as="image">
<link rel="preload" href="/assets/img/netgear/netgear-captive-portal-cover.png" as="image">
<link rel="preload" href="/assets/img/omicia/omicia-cover.png" as="image">

<!-- Hero Images -->
<link rel="preload" href="/assets/img/botanic/botanic-guru-hero.png" as="image">
<link rel="preload" href="/assets/img/mixi-modular/mixi-modular-hero.png" as="image">
<link rel="preload" href="/assets/img/gears-dashboard/gears-dashboard-hero.png" as="image">
<link rel="preload" href="/assets/img/netgear/netgear-captive-portal-hero.png" as="image">
<link rel="preload" href="/assets/img/omicia/omicia-hero.png" as="image">
