/*
 * ARTICLE GRID
 * Create high-specificy classes for styling articles
 * as a grid
 */

article .r-cell {
  /* don't clobber the utility classes with lower specificity */
  /* padding-top: var(--baseline); */
  /* padding-bottom: var(--baseline); */
  padding-top: var(--size1);
  /* margin-bottom: var(--baseline); */
  /* grid-column-gap: 1rem; */
  /* grid-row-gap: 1rem; */
}

h2.r-cell {
  padding-top: calc( var(--size1) - var(--baseline) );
}

.r-cell p {
  margin-bottom: calc(var(--baseline) * 1.5);
  max-width: 70ch;
}

.r-cell p:first-child {
  margin-top: 0;
}
.r-grid video {
  max-width: 100%;
  max-height: 90vh;
  text-align: center;
}

article * + * {
  margin-top: var(--size3);
}
