
/*
 * Blocks
 * ::::::
 */

.cover,
.cover\:half {
  display: flex;
  flex-direction: column;
  min-height: 99vh;
}
.cover\:half {
  min-height: 50vh;
}
.cover .principal,
.cover\:half .principal {
  margin-top:  auto;
  margin-bottom: auto;
}
.cover .masthead {
  margin-bottom: 0;
}

article .title {
  --grid-cs: 3;
  margin-bottom: var(--size3);
}
@media only screen and (max-width: 720px) {
  article .title {
    --grid-cs: 1;
  }
}
