/*
 * BLOCKS
 */

/* global navigation */
nav ul {
  list-style-type: none;
  text-align: right;
}

nav a {
  text-decoration: none;
}

nav li:not(:first-child)::after {
  content: " ";
  display: block;
  width: calc(var(--baseline) * 2);
  margin-left: auto;
  margin-top: calc(var(--baseline) - 3px);
  border-bottom: 3px solid var(--bkg-dark);
}
