/*
 * EFFECTS
 */

.registration {
  position: relative;
  color: var(--magenta);
}
.registration::before,
.registration::after {
  content: attr(data-echo);
  position: absolute;
  top: 0;
  left: 0;
}
.registration::before {
  color: var(--yellow);
}
.registration::after {
  color: var(--cyan);
}

.registration,
.registration::before,
.registration::after {
  mix-blend-mode: multiply;
  transition: transform 1s ease-out;
}

.off-register\:s::before { transform: translate( 0rem, -0.2rem); }
.off-register\:s::after  { transform: translate( 0rem,  0.2rem); }

.off-register\:m::before { transform: translate( 0rem, -0.4rem); }
.off-register\:m::after  { transform: translate( 0rem,  0.4rem); }

.off-register\:l::before { transform: translate( 0rem, -0.8rem); }
.off-register\:l::after  { transform: translate( 0rem,  0.8rem); }
