
/*
 * Elements
 * :::::::::
 */

/* measure */

* {
  max-width: var(--measure);
}

html,
body,
div,
figure,
figcaption,
header,
hr,
ol,
ul,
nav,
main,
article,
section,
svg,
footer,
.grid,
.subgrid {
  max-width: none;
}

/* document */

body {
  --padding: var(--size1);
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100ch;
  margin: auto;
  padding: var(--padding);
}

@media only screen and (max-width: 450px) {
  body {
    --padding: var(--size-1);
  }
}

main {
  /* dont show tabIndex border */
  outline: none;
}

/* interactive */

a {
  color: initial;
  text-decoration: none;
  border-bottom: 1px dotted;
}
nav a {
  border-bottom: unset;
}
a:visited {
  color: initial;
}

button.simple { 
  border: none;
  padding: 0;
  margin: 0;
  text-align: right;
  text-decoration: none;
  background: unset;
  border-bottom: 1px dotted;
  font-size: inherit;
  cursor: pointer;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}
button.simple:active {
  transform: scale(0.99);
}

/* content */

article h4 {
  margin-top: var(--size3);
  margin-bottom: var(--size1);
}

hr {
  width: 100%;
  border: 0;
  border-top: 1px solid var(--border-color);
  margin-top: var(--size2);
  margin-bottom: calc( var(--size1) - 1px);
}

p + p {
  margin-top: var(--size1);
}

/* media */

img {
  /* width: auto; */
  object-fit: contain;
  image-rendering: -webkit-optimize-contrast;
}
figure img,
video {
  max-height: 85vh;
}
figure,
video {
  margin-top: var(--size2);
  margin-bottom: var(--size2);
}
figcaption {
  margin-top: var(--size-2);
}
svg.icon {
  width: .75em;
  height: .75em;
  stroke: currentColor;
  stroke-width: 4;
  fill: none;
}

video {
  max-width: 100%;
}
