
/*
 * Font: Uxum Grotesque
 * :::::::::::::::::::::
 */

@font-face {
  font-family: "Uxum Grotesque";
  font-style:  normal;
  font-weight: 200;
  font-display: swap;
  src: url("/assets/fonts/UxumGrotesque-UltraLight.woff2") format("woff2"),
       url("/assets/fonts/UxumGrotesque-UltraLight.woff") format("woff");
}
@font-face {
  font-family: "Uxum Grotesque";
  font-style:  italic;
  font-weight: 200;
  font-display: swap;
  src: url("/assets/fonts/UxumGrotesque-UltraLightItalic.woff2") format("woff2"),
       url("/assets/fonts/UxumGrotesque-UltraLightItalic.woff") format("woff");
}
@font-face {
  font-family: "Uxum Grotesque";
  font-style:  normal;
  font-weight: 300;
  font-display: swap;
  src: url("/assets/fonts/UxumGrotesque-Light.woff2") format("woff2"),
       url("/assets/fonts/UxumGrotesque-Light.woff") format("woff");
}
@font-face {
  font-family: "Uxum Grotesque";
  font-style:  italic;
  font-weight: 300;
  font-display: swap;
  src: url("/assets/fonts/UxumGrotesque-LightItalic.woff2") format("woff2"),
       url("/assets/fonts/UxumGrotesque-LightItalic.woff") format("woff");
}

@font-face {
  font-family: "Uxum Grotesque";
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/UxumGrotesque-Regular.woff2") format("woff2"),
       url("/assets/fonts/UxumGrotesque-Regular.woff") format("woff");
}
@font-face {
  font-family: "Uxum Grotesque";
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/UxumGrotesque-Italic.woff2") format("woff2"),
       url("/assets/fonts/UxumGrotesque-Italic.woff") format("woff");
}

@font-face {
  font-family: "Uxum Grotesque";
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("/assets/fonts/UxumGrotesque-Medium.woff2") format("woff2"),
       url("/assets/fonts/UxumGrotesque-Medium.woff") format("woff");
}
@font-face {
  font-family: "Uxum Grotesque";
  font-style:  italic;
  font-weight: 500;
  font-display: swap;
  src: url("/assets/fonts/UxumGrotesque-MediumItalic.woff2") format("woff2"),
       url("/assets/fonts/UxumGrotesque-MediumItalic.woff") format("woff");
}
@font-face {
  font-family: "Uxum Grotesque";
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/UxumGrotesque-Bold.woff2") format("woff2"),
       url("/assets/fonts/UxumGrotesque-Bold.woff") format("woff");
}
@font-face {
  font-family: "Uxum Grotesque";
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/UxumGrotesque-BoldItalic.woff2") format("woff2"),
       url("/assets/fonts/UxumGrotesque-BoldItalic.woff") format("woff");
}
@font-face {
  font-family: "Uxum Grotesque";
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("/assets/fonts/UxumGrotesque-Ultra.woff2") format("woff2"),
       url("/assets/fonts/UxumGrotesque-Ultra.woff") format("woff");
}
@font-face {
  font-family: "Uxum Grotesque";
  font-style:  italic;
  font-weight: 900;
  font-display: swap;
  src: url("/assets/fonts/UxumGrotesque-UltraItalic.woff2") format("woff2"),
       url("/assets/fonts/UxumGrotesque-UltraItalic.woff") format("woff");
}
