
/*
 * Masthead
 * ::::::::
 */

.masthead {
  margin-bottom: var(--size5);
}
.masthead h2 {
  --grid-ce: 2;
  margin-bottom: var(--size-3);
}
.masthead button {
  display: none;
}
.masthead nav  {
  --grid-cs: 2;
}
.masthead ul { 
  margin-top: 0;
}
.masthead li {
  --grid-cs: auto;
  --subsubgrid-ce: auto;
}
.masthead li:last-child {
  /* unset standard list underline */
  border-bottom: 0;
}
.masthead  li[aria-current] {
  --subsubgrid-ce: span 3;
  font-weight: bold;
}
.masthead li a {
  display: block;
}

@media only screen and (max-width: 720px) {
  .masthead h2 {
    --grid-ce: 4;
    border-top: 0;
  }
  .masthead nav {
    --grid-cs: 1;
    --grid-gap: 0;
    margin-top: var(--size-3);
  }
  .masthead li,
  .masthead li[aria-current=page] {
    --grid-cs: 1;
    --subsubgrid-ce: 7;
  }
  .with-js .masthead li[aria-current=page] {
    grid-row-end: 4;
    display: block;
  }
  /* with javascript enabled */
  .with-js .masthead li {
    display: none;
  }
  .with-js [aria-expanded=true] + nav li {
    display: block;
  }
  .with-js .masthead button {
    --grid-cs: 5;
    --grid-ce: 7;
    display: initial;
  }
}
