/*
 * TYPOGRAPHY
 */

/* set the base font */
html {
  font-family: var(--font-body),  "Helvetica Neue", "Arial";
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--black);
  letter-spacing: -0.01em; 
  text-size-adjust: 100%;
  font-variant-ligatures: contextual common-ligatures;
  font-feature-settings: 'kern' 1, 'liga' 1, 'calt' 1, 'cv10' 1; 
}

/* headings */
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  font-family: var(--font-display);
  line-height: var(--line-height-small);
  max-width: 45rem;
  font-weight: 600;
  word-break: break-word;
}
h1, .h1 {
  font-size: var(--size4);
  letter-spacing: -0.01em;
}
h2, .h2 {
  font-size: var(--size3);
  letter-spacing: -0.03em;
}
h3, .h3 {
  font-size: var(--size2);
  letter-spacing: -0.02em;
}
h4, .h4 {
  font-size: var(--size1);
  letter-spacing: -0.012em;
}
/* h5, .h5 { */
/*   font-size: var(--size1); */
/*   letter-spacing: -0.015em; */
/* } */

/* text style modifiers */
em,
.font\:italic {
  font-style: italic;
}

.font\:uppercase {
  text-transform: uppercase;
}
.font\:smallcaps {
  font-variant: small-caps;
}

.font\:light {
  font-weight: 300;
}
.font\:regular {
  font-weight: 400;
}
.font\:semibold {
  font-weight: 500;
}
strong,
.font\:bold {
  font-weight: 600;
}
.font\:black {
  font-weight: 900;
}

sup,
.font\:super {
  font-variant-position: super;
}

/* large text */
/* .xlarge { */
/*   font-size: 5.5rem; */
/*   line-height: calc(var(--lineHeight) * 4); */
/* } */
/* .xxlarge { */
/*   font-size: 7.5rem; */
/*   line-height: calc(var(--lineHeight) * 5); */
/* } */
.xxxlarge {
  font-size: var(--size5);
}

/* small text */
.font\:small,
figcaption {
  font-size: var(--size-1);
}
.xsmall {
  font-size: 0.8em;
}
.xxsmall {
  font-size: 0.65em;
}
.xxxsmall {
  font-size: 0.5em;
}
