
/*
 * Typography
 * ::::::::::
 */

/* Set the base font */
html {
  font-family: var(--font-body), "Helvetica Neue", "Helvetica", "Arial";
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--black);
  letter-spacing: -0.015em; 
  text-size-adjust: 100%;
  font-variant-ligatures: contextual common-ligatures;
  font-feature-settings: 'kern' 1, 'liga' 1, 'calt' 1, 'cv10' 1; 
}

/* Headings */
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  font-family: var(--font-display), "Helvetica Neue", "Helvetica", "Arial";
  line-height: var(--line-height-small);
  max-width: 45rem;
  overflow-wrap: break-word;
  font-kerning: normal;
}
h1, .h1 {
  font-size: var(--size4);
  font-weight: 300;
  letter-spacing: -0.015em;
}
h2, .h2 {
  font-size: var(--size3);
  font-weight: 400;
  letter-spacing: -0.0175em;
}
h3, .h3 {
  font-size: var(--size2);
  font-weight: 500;
  letter-spacing: -0.02em;
}
h4, .h4 {
  font-size: var(--size1);
  font-weight: 600;
  letter-spacing: -0.012em;
}
h5, .h5 {
  font-size: var(--size0);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -0.015em;
}

/* Text style modifiers */
em,
.font\:italic {
  font-style: italic;
}

.font\:uppercase {
  text-transform: uppercase;
}
.font\:capitalize {
  text-transform: capitalize;
}
.font\:smallcaps {
  font-variant: all-small-caps;
}

.font\:light {
  font-weight: 300;
}
.font\:regular {
  font-weight: 400;
}
.font\:semibold {
  font-weight: 500;
}
strong,
.font\:bold {
  font-weight: 600;
}
.font\:black {
  font-weight: 900;
}

sup, .font\:super {
  font-variant-position: super;
}
sub, .font\:sub {
  font-variant-position: sub;
}

/* Small text */
figcaption,
.font\:small {
  font-size: var(--size-1);
}

.font\:xsmall {
  font-size: var(--size-2);
}
