/*
 * UTILITY
 */

[class*="padding"] {
  --padding: var(--size0); /* default */ 
}
/* sizing */
[class*=":pS"]    { --padding: var(--size-1);}
[class*=":pL"]    { --padding: var(--size1); }
[class*=":pXL"]   { --padding: var(--size2); }
[class*=":pXXL"]  { --padding: var(--size3); }
[class*=":pXXXL"] { --padding: var(--size4); }
/* asign side */
[class*="padding-top"]    { padding-top:    var(--padding); }
[class*="padding-right"]  { padding-right:  var(--padding); }
[class*="padding-bottom"] { padding-bottom: var(--padding); }
[class*="padding-left"]   { padding-left:   var(--padding); }
/* laterally (the width) and longitudinally (the length) */
[class*="padding-lat"] {
  padding-right: var(--padding);
  padding-left: var(--padding);
}
[class*="padding-lon"] {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}
[class*="padding "], 
[class$="padding"], 
[class*="padding:"] {
  padding: var(--padding);
}

[class*="margin"] {
  --margin: var(--size0); /* default */ 
}
/* sizing */
[class*=":mS"]    { --margin: var(--size-1);}
[class*=":mL"]    { --margin: var(--size1); }
[class*=":mXL"]   { --margin: var(--size2); }
[class*=":mXXL"]  { --margin: var(--size3); }
[class*=":mXXXL"] { --margin: var(--size4); }
/* asign side */
[class*="margin-top"]    { margin-top:    var(--margin); }
[class*="margin-right"]  { margin-right:  var(--margin); }
[class*="margin-bottom"] { margin-bottom: var(--margin); }
[class*="margin-left"]   { margin-left:   var(--margin); }
/* laterally (the width) and longitudinally (the length) */
[class*="margin-lat"] {
  margin-right: var(--margin);
  margin-left: var(--margin);
}
[class*="margin-lon"] {
  margin-top: var(--margin);
  margin-bottom: var(--margin);
}
[class*="margin "], 
[class$="margin"], 
[class*="margin:"] {
  margin: var(--margin);
}

[class*="border"] {
  --border: var(--1pt); /* default */ 
  border-color: var(--black);
  border-style: solid;
}
/* sizing */
[class*=":2pt"] { --border: var(--2pt); }
[class*=":3pt"] { --border: var(--3pt); }
[class*=":4pt"] { --border: var(--4pt); }
[class*=":5pt"] { --border: var(--5pt); }
/* asign side */
[class*="border-top"]    { border-top-width:    var(--border); }
[class*="border-right"]  { border-right-width:  var(--border); }
[class*="border-bottom"] { border-bottom-width: var(--border); }
[class*="border-left"]   { border-left-width:   var(--border); }
/* laterally (the width) and longitudinally (the length) */
[class*="border-lat"] {
  border-right-width: var(--border);
  border-left-width: var(--border);
}
[class*=".border-lon"] {
  border-top-width: var(--border);
  border-bottom-width: var(--border);
}

[class*="border "], 
[class$="border"], 
[class*="border:"] {
  border-width: var(--border);
}


[class*="justify"],
.r-cell[class*="justify"] {
  display: flex;
}

[class*="justify"][class*="-h"],
.r-cell[class*="justify"][class*="-h"] {
  flex-direction: row;
}
[class*="justify"][class*="-v"],
.r-cell[class*="justify"][class*="-v"] {
  flex-direction: column;
}
[class*="justify"][class*=":center"],
.r-cell[class*="justify"][class*=":center"] {
  justify-content: center;
}
[class*="justify"][class*=":start"],
.r-cell[class*="justify"][class*=":start"] {
  justify-content: start;
}
[class*="justify"][class*=":end"],
.r-cell[class*="justify"][class*=":end"] {
  justify-content: end;
}
[class*="justify"][class*=":flex-end"],
.r-cell[class*="justify"][class*=":flex-end"] {
  justify-content: flex-end;
}
[class*="justify"][class*=":even"],
.r-cell[class*="justify"][class*=":even"] {
  justify-content: space-evenly;
}
[class*="justify"][class*=":around"],
.r-cell[class*="justify"][class*=":around"] {
  justify-content: space-around;
}
[class*="justify"][class*=":baseline"],
.r-cell[class*="justify"][class*=":baseline"] {
  align-items: baseline;
}


.outdent\:1 {
  transform: translateX(-1ch);
}

.shadow {
  box-shadow: 0px 1px 3px 3px #dedede;
}

.align\:r { text-align: right; }
.align\:c { text-align: center; }

.passthrough,
.r-grid > .passthrough {
  display: contents;
}
