
/*
 * Utilities
 * :::::::::
 */

.cinch-up\:10rem {
  /* kinda kludgy, but oh well */
  margin-top: -10rem;
}

.img-height\:unset img {
  max-height: unset !important;
}

.pointer-events\:none {
  /* don't get in the way of other elements */
  pointer-events: none;
}

.align-self\:end {
  align-self: end;
}
.margin\:none {
  margin: unset;
}
.margin-top\:size0 {
  margin-top: var(--size0);
}
.margin-top {
  margin-top: var(--size1);
}
.margin-top\:size2 {
  margin-top: var(--size2);
}
.margin-top\:size3 {
  margin-top: var(--size3);
}
.margin-bottom\:size2 {
  margin-bottom: var(--size2);
}
.margin-bottom\:size3 {
  margin-bottom: var(--size3);
}
.margin-stack\:large {
  margin-top: var(--size3);
  margin-bottom: var(--size4);
}
.margin-stack {
  margin-top: var(--size1);
  margin-bottom: var(--size2);
}

.position\:absolute {
  position: absolute !important
}
.position\:relative {
  position: relative;
}
.left\:-grid-gap {
  left: calc(var(--grid-gap) * -1);
}

.display\:block {
  display: block;
  max-width: unset; 
}
.display\:inline-block {
  display: inline-block;
}

/* text related */
.text-align\:center {
  text-align: center;
}

/* viewport  dependent */

.flex\:col-to-row\<900px {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 900px) {
  .flex\:col-to-row\<900px {
    flex-direction: row;
  }
}
