
/*
 * Utilities
 * :::::::::
 */

.cinch-up\:10rem {
  /* kinda kludgy, but oh well */
  margin-top: -10rem;
}
.pointer-events\:none {
  /* don't get in the way of other elements */
  pointer-events: none;
}

.margin\:none {
  margin: unset;
}
.margin-top\:size2 {
  margin-top: var(--size2);
}
.margin-bottom\:size2 {
  margin-bottom: var(--size2);
}

.position\:absolute {
  position: absolute !important
}
.position\:relative {
  position: relative;
}
.left\:-grid-gap {
  left: calc(var(--grid-gap) * -1);
}

.display\:block {
  display: block;
  max-width: unset; 
}
.display\:inline-block {
  display: block;
  max-width: unset; 
}

/* text related */

@media only screen and (max-width: 720px) {
  .indent\:grid-gap\@\<720px {
    transform: translateX( var(--grid-gap) );
  }
}

/* viewport  dependent */

.flex\:col-to-row\<900px {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 900px) {
  .flex\:col-to-row\<900px {
    flex-direction: row;
  }
}
