
/*
 * Visual effects
 * ::::::::::::::
 */

.shadow,
.shadow\:img img {
  box-shadow: 1px 1px 10px #d1d1d1;
  box-shadow: 1px 1px 10px var(--dark-grey);
}

.multiply,
.multiply::before,
.multiply::after,
svg.multiply * {
  mix-blend-mode: multiply;
}
.bkg\:cyan {
  background-color: var(--cyan);
  fill: var(--cyan);
}
.bkg\:magenta {
  background-color: var(--magenta);
  fill: var(--magenta);
}
.bkg\:yellow {
  background-color: var(--yellow);
  fill: var(--yellow);
}
.bkg\:grey {
  background-color: var(--grey);
  fill: var(--grey);
}

.kodak {
  margin-top: var(--size2);
  height: var(--size-2);
  /* width is the first column and the gap */
  width: calc( 50% + ( var(--grid-gap) / 2 ) );
  overflow: visible;
}
.kodak #tall {
  display:none;
}

@media only screen and (max-width: 960px) {

  .flip-top\:kid > *:first-child {
    writing-mode: vertical-lr;
    margin-top: unset;
    margin-bottom: unset; /* dont collide with indenter h2 */
    margin-left: -0.5rem;
    padding-bottom: unset;
  }
  /* cinch up element after the flip-top-kid */
  .flip-top\:kid > *:first-child + p {
    margin-top: calc( (var(--size-3) * -1) - 1.4ex );
  }
  .flip-top\:kid >  *:first-child + ol {
    margin-top: calc( (var(--size3) + var(--size1)) * -1 );
  }

  .kodak {
    width: var(--size-3);
    height: 100%;
    margin-top: unset;
    margin-left: var(--size-2);
    position: absolute;
  }
  .kodak #tall {
    display: initial;
  }
  .kodak #long {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .kodak {
    width: var(--size-5);
  }
}

/* off-register effect */

.registration {
  position: relative;
  color: var(--cyan);
}
.registration,
.registration::before,
.registration::after {
  transition: transform 500ms ease-out;
  /* clean up overshoot wierdness */
  /* animation-iteration-count: 1; */
  /* animation-fill-mode: both; */  
}
.registration::before,
.registration::after {
  content: attr(data-echo);
  position: absolute;
  top: 0;
  left: 0;
  padding: inherit;
  transform: translateX(var(--position));
}

 /* (prefers-reduced-motion: reduce) */
  .registration::before {
    --position: 10px;
    color: var(--yellow);
  }
  .registration::after {
    --position: 5px;
    color: var(--magenta);
  }

@media (prefers-reduced-motion: no-preference) {

  /* off-register seperates vertically */
  .registration::before {
    --position: calc( var(--scroll) * 30px );
    color: var(--yellow);
  }
  .registration::after {
    --position: calc( var(--scroll) * 15px );
    color: var(--magenta);
  }

  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: var(--size1);
    align-self: start; /* make sure it glides */
  }
}
